body {
	background-color: #FFF;
	font-family: 'Prompt', sans-serif;
}
.thb {
	height: 40px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #c3c3c3;
}
#countries{
	height: 40px;

	border-radius: 20px;
	border: 1px solid #999;
}
.card {
	border-radius: 20px;
	height: auto;
	padding: 50px;
}
.table {
	border: 1px solid #c3c3c3;
	border-radius: 10px;

}
.txt {
	margin-top: 5px;
	font-size: 22px;
	color: #66CDAA;
}
.margintop {
	margin-top: 20px;
}
